body{
  margin:0;
  overflow:hidden;

  background:
  linear-gradient(to bottom,
  #c9e7ff,
  #eef7ff);

  font-family:'Poppins',sans-serif;
  text-align:center;
}

/* ENVELOPE */

.envelope{

  font-size:180px;

  position:absolute;

  left:50%;
  top:50%;

  transform:translate(-50%,-50%) scale(0);

  cursor:pointer;

  animation:
  appear 2s forwards,
  bounce 2s infinite 2s;
}

@keyframes appear{

  from{
    transform:
    translate(-50%,-50%)
    scale(0);
    opacity:0;
  }

  to{
    transform:
    translate(-50%,-50%)
    scale(1);
    opacity:1;
  }
}

@keyframes bounce{

  0%,100%{
    transform:
    translate(-50%,-50%)
    translateY(0);
  }

  50%{
    transform:
    translate(-50%,-50%)
    translateY(-15px);
  }
}

/* CARD */

.card{

  width:500px;

  max-width:90%;

  background:white;

  padding:45px;

  border-radius:35px;

  position:absolute;

  left:50%;
  top:50%;

  transform:
  translate(-50%,-50%)
  scaleY(0);

  transform-origin:top;

  opacity:0;

  transition:1.2s;

  box-shadow:
  0 15px 40px
  rgba(0,0,0,0.2);
}

.show{

  transform:
  translate(-50%,-50%)
  scaleY(1);

  opacity:1;
}

/* TITLE */

h1{

  color:#4a90e2;

  font-family:'Pacifico',cursive;

  font-size:48px;

  cursor:pointer;

  margin-bottom:25px;
}

/* TEXT */

p{

  font-size:22px;

  color:#3c4d63;

  line-height:1.8;
}

/* IMAGES */

.teddy,.choco{

  width:130px;

  margin:15px;

  animation:
  float 3s ease-in-out infinite;
}

@keyframes float{

  0%{
    transform:translateY(0);
  }

  50%{
    transform:translateY(-15px);
  }

  100%{
    transform:translateY(0);
  }
}

/* CONFETTI */

.confetti{

  position:absolute;

  top:-10vh;

  animation:
  fall linear forwards;
}

@keyframes fall{

  to{
    transform:
    translateY(120vh)
    rotate(360deg);
  }
}
